@using System.Security.Claims

@model AdventureBook.Models.Adventure
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="card-body">
    <hr style="height:2px;border-width:0;color:gray;background-color:gray" />
    <div >
            <span >@Model.UserProfile.Name</span>
            <span  style="float: right">
            @{
                var currentUserProfileId = int.Parse(User.FindFirst(ClaimTypes.NameIdentifier).Value);
                if (Model.UserProfileId == currentUserProfileId)
                {
                    <a asp-controller="Adventure" asp-action="Edit" asp-route-id="@Model.Id" asp-route-nextController="@(ViewBag.NextControllerAfterAction)" title="Edit" class="btn btn-light btn-sm">
                        <i class="bi bi-pen" title="Edit"></i>
                    </a>
                    <button class="btn btn-light btn-sm" data-toggle="dropdown" title="Delete" type="button" aria- aria-haspopup="true" aria-expanded="false">
                        <i class="bi bi-trash3" title="Delete"></i>
                    </button>
                    <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a asp-controller="Adventure" asp-action="Delete" asp-route-id="@Model.Id" asp-route-nextController="@(ViewBag.NextControllerAfterAction)"
                           class="btn btn-outline-danger mx-1">
                            <i>Delete?</i>
                        </a>
                    </span>
                }
            }
            </span>

        <h1 class="">
            @Html.DisplayFor(modelItem => Model.Title)
        </h1>

        @{
            var files = System.IO.Directory.GetFiles(AdventureBook.Utils.Settings.PhotoPath, Model.Id + ".*");
            var thisAdventurePhotoFilePath = files.FirstOrDefault();

            if (thisAdventurePhotoFilePath != null)
            {
                var fileInfo = new System.IO.FileInfo(thisAdventurePhotoFilePath);
                <div style="background-color: #edecec; width: 100%; display: flex; justify-content: center; border-radius: 6%">
                    <div class="img-div" style="max-width: 30em; max-height: auto">
                        <img style="border-radius: 3%; width: 100%; height: 100%;" src="~/photos/@(fileInfo.Name)" />
                    </div>
                </div>
            }
        }

        <p>
            @Html.DisplayFor(modelItem => Model.Text)
        </p>

        @{
            var stars = Enumerable.Range(1, 5);
            foreach (var star in stars)
            {
                var starSpan = (Model.Difficulty == 0) ? "" : (Model.Difficulty >= star) ? "<span>★</span>" : "<span>☆</span>";
                @Html.Raw(starSpan);
            }
        }

        <div>
            @foreach (var tag in Model.Tags)
            {
                <img height="35" src="~/images/@(tag.Name).png" title="@tag.Name" />
                <span>&nbsp;&nbsp;&nbsp;</span>
            }
        </div>
        <hr />
        <p class="text-muted">
            @Html.DisplayFor(modelItem => Model.DateTime)
        </p>
        
    </div>
</div>