@model AdventureBook.Models.ViewModels.UserProfileViewModel

@{
    ViewData["MyAccount"] = "MyAccount";
}
<div class="container pt-5">
    <h1>@Model.Profile.Name</h1>
    <p>@Model.Profile.Email</p>
    <p>You&acute;ve posted @Model.Adventures.Count adventures!</p>

    <table class="table table-striped">
        <tbody>
            @foreach (var item in Model.Adventures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Difficulty)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.DateTime)
                    </td>
                    <td>
                        @foreach (var tag in item.Tags)
                        {
                            @Html.DisplayFor(_ => tag.Name)
                        }
                    </td>
                    <td>
                       
                        <a asp-controller="Adventure" asp-action="Edit" asp-route-id="@item.Id" asp-route-nextPage="~/UserProfile/MyAccount" class="btn btn-secondary btn-sm">
                            Edit
                        </a>
                        <button class="btn btn-secondary btn-sm" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                            Delete
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a asp-action="DeleteAdventure" asp-route-id="@item.Id" class="btn btn-outline-danger mx-1">
                                You sure?
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>